{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/explore.css" %}">
<link rel="stylesheet" href="{% static "css/postModal.css" %}">
{% endblock %}
{% block title %}Explore EchoFeed{% endblock %}

{% block main %}

<div class="loader" id="loader" style="display:none;">
    <img src="{% static 'images/loader.svg' %}" alt="Loading...">
</div>

<h1 class='explore-h1'>Explore EchoFeed</h1>
<div class="posts">
    {% for post in random_posts %}
    <div class="post">
        <img class="post-img" id="{{post.id}}" src="{{post.post_img.url}}" alt="Profile">
    </div>
    {% endfor %}
</div>

{% include "post.html" %}

{% endblock %}