{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/explore.css" %}">
{% endblock %}
{% block title %}Explore EchoFeed{% endblock %}

{% block main %}

<h1 class='explore-h1'>Explore EchoFeed</h1>
<div class="posts">
    {% for post in random_posts %}
    <div class="post" id="{{post.id}}">
        <img src="{{post.post_img.url}}" alt="Profile">
    </div>
    {% endfor %}
</div>

<!-- Modal Structure -->
<div id="postModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <img id="modalImage" src="" alt="Post Image">
        <p id="modalText"></p>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'js/postClick.js' %}"></script>
{% endblock %}