{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block main %}
<div class="loader" id="loader">
    <img src="{% static 'images/loader.svg' %}" alt="Loading...">
</div>
<div class="profile-main">
    <div class="profile-first flex">
        <div class="profile-image flex items-center justify-center">
            <img src="{{profile.profile_image.url}}" alt="">
        </div>
        <div class="profile-info">
            <div class="flex items-center unm-btn-div">
                <div class="username">
                    <p>{{profile.user.username}}</p>
                </div>
                <div class="buttons">
                    <button>Edit profile</button>
                    <button><i class="fa-solid fa-cog"></i></button>
                </div>
            </div>
            <div class="flex post-details">
                <div class="posts">
                    <div class="info-div">
                        <span class="numbers">{{profile.post_count}}</span> <span class="btn-title">Posts</span>
                    </div>
                </div>
                <div class="followers">
                    <div class="info-div">
                        <span class="numbers">{{profile.followers_count}}</span> <span class="btn-title">Followers</span>
                    </div class="info-div">
                </div>
                <div class="followings">
                    <div class="info-div">
                        <span class="numbers">{{profile.following_count}}</span> <span class="btn-title">Followings</span>
                    </div class="info-div">
                </div>
            </div>
            <br>
            <div class="nickname">
                {% if profile.nickname != None %}
                {{profile.nickname}}
                {% endif %}
            </div>
            {% if profile.bio != '' and profile.bio != None %}
            <div class="bio">
                <p>{{profile.bio}}</p>
            </div>
            {% endif %}
        </div>
    </div>
    <br>
    <br>
    <hr>
    <div class="profile-second">
        <div class="profile-second-titles flex items-center justify-center">
            <button class="">Create</button>
            <button class="active-btn">Posts</button>
            <button class="">Saved</button>
        </div>
        <div class="posts-container">
            <div class="post">
                <img src="{% static "images/pu.jpg" %}" alt="">
            </div>
            <div class="post">
                <img src="{% static "images/pu.jpg" %}" alt="">
            </div>
            <div class="post">
                <img src="{% static "images/pu.jpg" %}" alt="">
            </div>
            <div class="post">
                <img src="{% static "images/pu.jpg" %}" alt="">
            </div>
            <div class="post">
                <img src="{% static "images/pu.jpg" %}" alt="">
            </div>
            <div class="post">
                <img src="{% static "images/pu.jpg" %}" alt="">
            </div>
        </div>
    </div>
    <div id="editProfileModal" class="modal hidden">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h2>Edit Profile</h2>
            <form method="POST" enctype="multipart/form-data" id="edit-profile-form">
                {% csrf_token %}
                <div>
                    <label for="profile_image">Profile Image:</label>
                    <input type="file" name="profile_image" id="profile_image">
                </div>
                <div>
                    <label for="username" id="username-label">Username:</label>
                    <input type="text" name="username" id="id_username" value="{{request.user}}" maxlength="15">
                </div>
                <div>
                    <label for="nickname">Nickname:</label>
                    <input type="text" name="nickname" id="nickname" value="{{profile.nickname}}" maxlength="15">
                </div>
                <div>
                    <label for="bio">Bio:</label>
                    <textarea name="bio" id="bio" maxlength="250">{{profile.bio}}</textarea>
                </div>
                <button type="submit" id="edit-profile">Save Changes</button>
            </form>
        </div>
    </div>
</div>
<div id="alertBox" class="alert-box">
    {% comment %} This is an alert message! {% endcomment %}
</div>
{% endblock %}
{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const editButton = document.querySelector(".buttons button:first-child");
        const modal = document.getElementById("editProfileModal");
        const closeButton = modal.querySelector(".close-btn");

        editButton.addEventListener("click", () => {
            modal.classList.remove("hidden");
        });

        closeButton.addEventListener("click", () => {
            modal.classList.add("hidden");
        });

        modal.addEventListener("click", (event) => {
            if (event.target === modal) {
                modal.classList.add("hidden");
            }
        });
    });
    $('#loader').hide();
    const checkUsernameUrl = "{% url 'check_username' %}";
    const csrfToken = "{{ csrf_token }}";
    const updateProfileUrl = "{% url 'feed:update_profile' %}";
</script>
<script src="{% static 'js/showAlert.js' %}"></script>
<script src="{% static 'js/checkUsername.js' %}"></script>
<script src="{% static 'js/editProfile.js' %}"></script>
{% endblock %}