{% extends "acc_base.html" %}
{% block title %}Set New Password{% endblock %}
{% block container %}
<div class="wrapper">
    <form id="new-password-form" class="form" method="post">
        {% csrf_token %}
        <h1 class="title">Enter New Password</h1>
        <div class="form-group">
            <div class="input-data">
                <input type="password" name="new_password1" autocomplete="new-password" aria-describedby="id_new_password1_helptext" id="id_new_password1" aria-autocomplete="list" required>
                <div class="underline"></div>
                <label for="id_new_password1">New password</label>
                <i class="fa-solid fa-lock"></i>
            </div>
        </div>
        <div class="form-group">
            <div class="input-data">
                <input type="password" name="new_password2" autocomplete="new-password" aria-describedby="id_new_password2_helptext" id="id_new_password2" required>
                <div class="underline"></div>
                <label for="id_new_password1">Confirm password</label>
                <i class="fa-solid fa-lock"></i>
            </div>
        </div>
        <button type="submit" id="submit">Reset Password</button>
    </form>
</div>
{% if form.errors %}
<div id="alertBox" class="alert-box">
    <div class="error-message">
    {% for field in form %}
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        function showAlert() {
            $('#alertBox')
                .slideDown(300)
                .addClass('show')
                .delay(3000)
                .slideUp(300);
        }

        {% if form.errors %}
            showAlert();
        {% endif %}
    });
</script>
{% endblock %}
